name: SSH Command Execution

on:
  push:
    branches:
      - main

jobs:
  execute-ssh-commands:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Execute SSH commands
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: www.oberberg.dating
        username: root
        key: ${{secrets.SSH_KEY}}
        script: |
          export NVM_DIR=/root/.nvm
          source /root/.nvm/nvm.sh
          cd /var/www/oberberg.dating
          git pull
          npm install
          npm run build
          pm2 restart ecosystem.config.cjs